.main_container {
  margin: 5rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_container__header {
  text-align: center;
  margin: 0 0 2rem 0;
  font-size: 3.2rem;
  font-weight: 700;
}
